/****** Login component specific styling ******/

/* Login component variables */

/* Login component box */
.login-box {
    align-items: center;
    background: var(--white-bg);
    border-radius: 5px;
    margin: 0 auto;
    padding: 60px;
}

/* Login Header styles */
.login-heading {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

/* Login Form styles */
.input-width {
    width: 100%;
}

.main-section{
    align-items: center;
    background-image: url('../../assets/images/bg-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 15px;
}

/* Login Footer sytles */
.no-style {
    text-decoration: none;
}