/****** Login component specific styling ******/

/* Login component variables */

/* Login component box */
.login-box {
    align-items: center;
    background: var(--white-bg);
    border-radius: 5px;
    margin: 0 auto;
    padding: 60px;
}

/* Login Header styles */
.login-heading {
    font-size: 36px;
    font-weight: 600;
    text-align: left;
}

/* Login Form styles */
.input-width {
    width: 100%;
}
.no-style {
    text-decoration: none;
}

/* Login Footer sytles */