<section class="login">
  <div class="login-box">
    <div class="login-title">
      <h2>Login</h2>
    </div>
    <form name="loginForm">
      <div class="">
        <mat-form-field>
          <input matInput name="username" placeholder="Email" [(ngModel)]="username" [formControl]="usernameControl">
          <mat-error *ngIf="usernameControl.hasError('email') && !usernameControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="usernameControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="">
        <mat-form-field>
          <input matInput name="password" type="password" placeholder="Password" [(ngModel)]="password" [formControl]="passwordControl">
          <mat-error *ngIf="passwordControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="">
        <button mat-flat-button color="primary" class="login-button" (click)="login(username,password)">Login</button>
      </div>
    </form>
    <div>
      <a mat-button routerLink="/register">Register</a>
    </div>
  </div>
</section>
