.main-section{
    align-items: center;
    display: flex;
    background-image: url('../assets/images/bg-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    min-height: 100vh;
    padding: 15px;
}

