.main-section{
    background-image: url('../assets/images/bg-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
}

