<section class="signup-box">
  <!-- Component Header -->
  <header>
    <h2 class="signup-heading m-t-none p-md-b">Register</h2>
  </header>
  <form [formGroup]="signupform" name="registrationForm">
    <!-- Username input field -->
    <div>
      <mat-form-field class="input-width">
        <input matInput name="username" placeholder="Name" [(ngModel)]="user.username" formControlName="name">
        <mat-error *ngIf="signupform.controls['name'].hasError('pattern') && !signupform.controls['name'].hasError('required')">
          Name must contain more than 3 alphabets only
        </mat-error>
        <mat-error *ngIf="signupform.controls['name'].hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
      <!-- Email input field -->
      <mat-form-field class="input-width">
        <input matInput name="email" type="email" placeholder="Email" formControlName='email' required>
        <mat-error *ngIf="signupform.controls['email'].hasError('email') && !signupform.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="signupform.controls['email'].hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Password input field -->
    <div>
      <mat-form-field class="input-width">
        <input matInput name="password" type="password" placeholder="Password" [(ngModel)]="user.password" formControlName='password'>
        <mat-error *ngIf="signupform.controls['password'].hasError('required')">
          Please enter password
        </mat-error>
      </mat-form-field>
      <!-- Confirm password field -->
      <mat-form-field class="p-md-b input-width">
        <input matInput name="confirm" type="password" placeholder="Confirm Password" [(ngModel)]="confirm" formControlName='confirm'>
        <mat-error *ngIf="signupform.controls['confirm'].hasError('passMatch')">
          Passwords must match
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Register button -->
    <div class="cen">
      <button mat-flat-button color="primary" class="login-button" (click)="register(user)">Register</button>
    </div>
  </form>
  <footer class="cen p-md">
    <a mat-button class="no-style" routerLink="/login">
      Sign In
    </a>
  </footer>
</section>