/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";


html, body{
    margin: 0px;
    padding: 0px;
}

.login {
    align-items: center;
    background: #fff;
    border-radius: 10px;
    max-width: 350px;
    margin: 0 auto;
    padding: 50px;
  }
  
  .login-box {
    padding: 15px;
  }
  
  .login-title {
    display: flex;
    justify-content: center;
  }
  
  .login-button {
    width: 100%;
  }
  